<div class="row justify-content-center text-center">
    <h1>Hard and Soft Skills</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark text-white" routerLink="/nuevaSkill" *ngIf="isLogged">
            Agregar nueva Skill <img src="../../../assets/img/icons/add-file.png" height="50" width="50">
        </button>
        <br><br>
    </div>
    <div></div>
    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-8" *ngFor="let HySSkill of skill">
        <br><br>
      <div class="text-center mx-auto">
        <h2><strong>{{HySSkill.nombre}}</strong></h2>
          <circle-progress 
                [subtitle]="HySSkill.nombre" 
                [percent]="HySSkill.porcentaje" 
                [imageSrc]="HySSkill.imagenHyS"
                [showImage]="true" 
                [showTitle]="true"
                [showSubtitle]="true" 
                [showUnits]="false" 
                [imageHeight]="100" 
                [imageWidth]="100" 
                [maxPercent]="100"
                [radius]="100" 
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="3" 
                [outerStrokeColor]="'#19611a'" 
                [innerStrokeColor]="'#C7E596'" 
                [animation]="true"
                [animationDuration]="500">
            </circle-progress>
 
      </div>
        <td *ngIf="isLogged">
            <button class="btn btn-dark text-white" routerLink="/editarSkill/{{HySSkill.id}}">
                Editar <img src="../../../assets/img/icons/editar.png" height="50" width="50">
            </button>
        </td>
        <td *ngIf="isLogged">
            <button class="btn btn-danger text-white" (click)="delete(HySSkill.id)">
                Eliminar <img src="../../../assets/img/icons/basura.png" height="50" width="50">
            </button>
        </td>


    </div>
  </div>

<!--<div class="row text-center">
    <h1>Hard and Soft Skills</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark text-white" routerLink="/nuevaSkill" *ngIf="isLogged">
            Agregar nueva Skill <img src="../../../assets/img/icons/add-file.png" height="50" width="50">
        </button>
    </div>
    <h1></h1>
    <br>

    <div class="text-center col-sm-4 col-md-4 col-lg-3" *ngFor="let HySSkill of skill">
        <circle-progress 
            [subtitle]="HySSkill.nombre" 
            [percent]="HySSkill.porcentaje" 
            [imageSrc]="HySSkill.imagenHyS"
            [showImage]="true" 
            [showTitle]="true"
            [showSubtitle]="true" 
            [showUnits]="false" 
            [imageHeight]="100" 
            [imageWidth]="100" 
            [maxPercent]="100"
            [radius]="100" 
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3" 
            [outerStrokeColor]="'#19611a'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
        <td *ngIf="isLogged">
            <button class="btn btn-dark text-white" routerLink="/editarSkill/{{HySSkill.id}}">
                Editar <img src="../../../assets/img/icons/editar.png" height="50" width="50">
            </button>
        </td>
        <td *ngIf="isLogged">
            <button class="btn btn-danger text-white" (click)="delete(HySSkill.id)">
                Eliminar <img src="../../../assets/img/icons/basura.png" height="50" width="50">
            </button>
        </td>
    </div>
</div>


     <div class="text-center col-sm-4 col-md-4 col-lg-3">
        <circle-progress 
            [percent]="70"
            [imageSrc]="'../../../assets/img/icons/JavaScript.webp'" 
            [showImage]="true"
            [imageHeight]="100" 
            [imageWidth]="100" 
            [outerStrokeWidth]="10" 
            [maxPercent]="100" 
            [radius]="100"
            [showSubtitle]="false" 
            [showUnits]="false" 
            [showTitle]="false" 
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3" 
            [outerStrokeColor]="'#19611a'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3">
        <circle-progress 
            [percent]="90" 
            [imageSrc]="'../../../assets/img/icons/html-5.png'" 
            [showImage]="true"
            [imageHeight]="100" 
            [imageWidth]="100" 
            [outerStrokeWidth]="10" 
            [maxPercent]="100" 
            [radius]="100"
            [showSubtitle]="false" 
            [showUnits]="false" 
            [showTitle]="false" 
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3" 
            [outerStrokeColor]="'#19611a'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3">
        <circle-progress 
            [percent]="85" 
            [imageSrc]="'../../../assets/img/icons/java.png'" 
            [showImage]="true"
            [imageHeight]="100" 
            [imageWidth]="100" 
            [outerStrokeWidth]="10" 
            [maxPercent]="100" 
            [radius]="100"
            [showSubtitle]="false" 
            [showUnits]="false" 
            [showTitle]="false" 
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3" 
            [outerStrokeColor]="'#19611a'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3">
        <circle-progress 
            [percent]="50" 
            [imageSrc]="'../../../assets/img/icons/css.png'" 
            [showImage]="true"
            [imageHeight]="100" 
            [imageWidth]="100" 
            [outerStrokeWidth]="10" 
            [maxPercent]="100" 
            [radius]="100"
            [showSubtitle]="false" 
            [showUnits]="false" 
            [showTitle]="false" 
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3" 
            [outerStrokeColor]="'#19611a'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-3">
        <circle-progress 
            [percent]="80" 
            [imageSrc]="'../../../assets/img/icons/github.png'" 
            [showImage]="true"
            [imageHeight]="100" 
            [imageWidth]="100" 
            [outerStrokeWidth]="10" 
            [maxPercent]="100" 
            [radius]="100"
            [showSubtitle]="false" 
            [showUnits]="false" 
            [showTitle]="false" 
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3" 
            [outerStrokeColor]="'#19611a'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div> -->
