<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <img src={{persona.img}} class="img-fluid" id="foto-perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <button class="btn btn-dark text-white editPer" routerLink="/editarPersona/{{persona.id}}" *ngIf="isLogged">
            Editar foto y nombre<img src="../../../assets/img/icons/editar.png" height="50" width="50">
        </button>
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <!--<p id="nombre">Exequiel Mayorga</p>
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        -->
        <p>{{perfil.profesion}}</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <span>
            <h1>Acerca de mi:</h1>
            <p>{{perfil.acercaDe}}</p>
            <div>
                <button class="btn btn-dark text-white" routerLink="/editarAcercaDe/{{perfil.id}}" *ngIf="isLogged">
                    Editar Acerca De<img src="../../../assets/img/icons/editar.png" height="50" width="50">
                </button>
            </div>
        </span>
        
    </div>
</div>


