<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center text-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <div class="d-flex align-items-center mb-3 pb-1">
                  <span class="h1 fw-bold mb-0">Editar Perfil</span>
                </div>

                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">por favor, ingrese los datos que desea
                  editar</h5>

                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" enctype="multipart/form-data">

                  <!-- input nombre de la persona -->
                  <div class="form-group pt-3">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="persona.nombre"
                      required>
                  </div>

                  <!-- input apellido de la persona -->
                  <div class="form-group pt-3">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="apellido" class="form-control" [(ngModel)]="persona.apellido"
                      required>
                  </div>

                  <!-- input imagen -->
                  <div class="form-group pt-3">
                    <label for="img">Imagen</label>
                    <input type="file" name="img" id="img" class="form-control" [(ngModel)]="persona.img" required
                      (change)="capturarFile($event)">
                  </div>

                  <br>
                  <button type="submit" class="btn btn-primary text-white">
                    Editar Persona
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>